body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}
.sidebar {
  background-color: #000;
  width: 300px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
}
.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1rem;
  height: 5rem;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.5;
  padding: 0.5rem 0.75rem;
}
.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.nav-option:hover {
  opacity: 1;
}
.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}
.icons {
  font-size: 1.25rem;
  opacity: 0.7;
  margin-right: 0.5rem;
  display: flex;
}
.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i:hover {
  opacity: 1;
}
.box1 {
  background-color: #232323;
  height: 7rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box2 {
  background-color: #232323;
  height: 9rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box-p1 {
  font-size: 0.85rem;
  font-weight: 700;
}
.box-p2 {
  font-size: 0.75rem;
  opacity: 1;
  font-weight: 500;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.dark-badge {
  background-color: #000;
  color: white;
  font-weight: 700;
}
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem;
  z-index: 10;
}
.sticky-nav-icons {
  margin-left: 0.75rem;
}
.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sticky-nav-options button {
  margin-right: 2rem;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.cards {
  background-color: #232323;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 150px;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.Cards-container {
  display: flex;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 600;
}
.card-info {
  font-size: 0.85rem;
  opacity: 0.5rem;
}
.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.4;
}
.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album {
  width: 25%;
}
.player {
  width: 50%;
}
.control {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}
.playr-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}
.playr-control-icon:hover {
  opacity: 1;
}
.playeback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
  opacity: 0.5;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}

.album {
  display: flex;
}
.picture {
  border-radius: 20px;
}
.top {
  font-weight: 700;
  font-size: 15px;
  margin-top: 1rem;
  margin-left: 10px;
}
.singer-name {
  opacity: 0.7;
  font-size: 12px;
  margin-top: 1rem;
}
.heart {
  opacity: 0.7;
  margin-top: 30px;
  margin-left: 20px;
}
.radio {
  opacity: 0.7;
  margin-top: 30px;
  margin-left: 15px;
}
.radio:hover {
  opacity: 1;
}
.heart:hover {
  opacity: 1;
}
.video {
  height: 2rem;
  opacity: 0.5;
  margin-left: 5rem;
}

.mic {
  height: 2rem;
  opacity: 0.5;
}
.audio {
  height: 1rem;
  opacity: 0.5;
}
.volume {
  height: 1rem;
  opacity: 0.5;
}
.volume-box {
  opacity: 0.5;
  height: 2rem;
}
.video:hover {
  opacity: 1;
}
.audio:hover {
  opacity: 1;
}
.volume:hover {
  opacity: 1;
}
.volume-box:hover {
  opacity: 1;
}
.mic:hover {
  opacity: 1;
}
.progress-bar1::-webkit-slider-runnable-track {
  background-color: #dddddd;
  border-radius: 100px;
  height: 0.2rem;
  opacity: 0.5;
}
.progress-bar1::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}
.progress-bar1 {
  width: 30%;
  appearance: auto;
  background-color: transparent;
  cursor: pointer;
  margin-right: 2rem;
}
